/**
 * Lingocracy Stylesheet
 */

body {
	background-color: #FFFFFF;
	color: #000000;
	font: 100%/1.25 "Lucida Grande",Arial,STHeiti,"Arial Unicode MS",MingLiu,sans-serif;
	margin: 20px;
	padding: 0px;
	cursor: default;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
input[type=text] {
	font: 85% "Lucida Grande",Arial,STHeiti,"Arial Unicode MS",MingLiu,sans-serif;
	border: 1px solid #C6C6C6;
	padding: 3px;
	border-radius: 4px;
}
p {
	margin: 5px 0 5px 0;
	padding: 0;
}
h3 {
	margin: 0px 0 0px 0;
	padding: 0;
}
h4 {
	margin: 5px 0 10px 0;
	padding: 0;
}
.click {
    cursor: pointer;
    color: #C00000;
}
.status0 {
	border-bottom: 2px solid #ADDFFF;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.status1 {
	border-bottom: 2px solid #F5B8A9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.status2 {
	border-bottom: 2px solid #F5CCA9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.status3 {
	border-bottom: 2px solid #F5E1A9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.status4 {
	border-bottom: 2px solid #F5F3A9;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.status5 {
	border-bottom: 2px solid #DDFFDD;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.status99 {
  border-bottom: 2px solid transparent;
  text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.hword.status99, td>.status99 {
  border-bottom: 2px solid #cccccc;
}
.status98 {
  border-bottom: 2px dashed transparent;
  text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.hword.status98, td>.status98 {
	border-bottom: dashed 2px #DDD;
}


/* Words and multi-words hints */
.wsty, .mwsty
{
  color: #000000;
  border-radius: 3px;
}

/* Multi-words hint */
.mwsty
{
  margin: 0px 1px;
  font-size: 60%;
  font-weight: bold;
  vertical-align: top;
  white-space: nowrap;
}

.wsty {
	margin:0px;
	box-shadow: 0 0 0px 1px #FFF;
}
/* Multi-word mark */
.mword 
{
  padding-left: 4px;
  padding-right: 4px;
}
.todosty {
	border-bottom: 2px solid #F5E1A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
.doneoksty {
	border-bottom: 2px solid #A9F5A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
.donewrongsty {
	border-bottom: 2px solid #F5B8A9;
	text-decoration: none;
	padding: 1px 2px;
	border-radius: 3px;
}
.status5stat {
	border-bottom: 2px solid #BBFFBB;
	text-decoration: none;
	color: #000000;
	border-radius: 3px;
}
.tword.lword,.nword.lword {
	border-top: 2px solid #D57;
	border-bottom: 2px solid #D57 !important;
	text-decoration: none;
	background-color: #FEE;
	box-shadow: 1px 0 0 0 #FEE, -1px 0 0 0 #FEE;
}
.tword {
	border-radius: 3px;
	box-shadow: 0 0 0px 1px #FFF;
	border-bottom: 2px solid #C9B;
	text-decoration: none;
}
.nword {
	background-color: #FFF;
	border-bottom: 2px solid #FFF !important;
}
.hword {
	background-color: #FF9;
}
.wsty:after,.wsty:before {
	opacity:.5
}
.wsty.hword:after,.wsty.hword:before{
	opacity:1
}
#thetext {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
textarea {
	font: 85% "Lucida Grande",Arial,STHeiti,"Arial Unicode MS",MingLiu,sans-serif;
	border: 1px solid #C6C6C6;
	padding: 3px;
	border-radius: 4px;
}
.wrap_checkbox,.wrap_radio{
	display:none;
}
.bgdis {
	background-color: #EAEAE5 !important;
	border-radius: 3px !important;
	padding: 1px 2px;
}
.tab1 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	width: 95%;
	max-width: 850px;
}
.tab2 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	width: 100%;
}
.tab3 {
	background-color: #f8f8f8;
	margin-bottom: 10px;
	margin-top: 10px;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	width: auto;
}
.td1 {
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	vertical-align: top;
}
.td1bot {
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	vertical-align: bottom;
}
.th1 {
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	background-color: #DDDDDD;
	vertical-align: top;
}
th.clickable,.clickedit {
	cursor: pointer;
}
a {
	text-decoration: none;
}
a:link,a:visited,a:active,a:focus,a:hover {
	color: #C00000;
} 
img {
	border: 0pt none;
}
#learnstatus {
	color: #000000;
	font-size: 120%;
	font-weight: bold;
}
#iknowall {
	background-color: #ADDFFF;
	cursor: pointer;
	color: #C00000;
	padding: 5px;
	border: 1px solid #A0A0A0;
 	text-align: center;
}
.lwtlogo {
	margin-right: 15px;
	float: left;
}
.lwtlogoright {
	margin-left: 30px;
	float: right;
}

/* Floating menu in docs/info.html */
#floatdiv {
	background:#DDDDDD;
	border:1px solid #888888;
	border-radius: 4px;
	position: fixed;
	top: 10px;
	right: 10px; 
	  padding: 5px;
	z-index: 2;
	font-size: 10pt;
	text-align:center;
}

#floatdiv > * {
  display: block;
  width: 75px;
}
/**
* General footer style.
*/
footer 
{
  position: fixed;
  width: 100%;
  left: 0; 
  bottom: 0;
  background: #DDDDDD;
  text-align: center;
  height: 45px;
  line-height: 30px;
  border-top: 1px solid #A0A0A0;
  font-size: 14px;
}

#printoptions {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #808080;
	line-height: 1.8; 
	margin-top: 20px;
}
.width50px {
	width: 50px;
}
.width99pc {
	width: 99%;
}
.width45pc {
	width: 45%;
}

/** Scale input field with responsive design */
.respinput {
	width: 90%;
	max-width: 500px;
}

.annterm {
	font-weight: bold;
	border-bottom: 2px solid #CCCCCC;
}
.anntermruby {
	font-weight: normal;
	border-bottom: 2px solid #FFFFFF;
}
.annrom {
	color: #999999;
	font-size: 60%;
	font-style: italic;
}
.annromruby {
	color: #000000;
	font-size: 100%;
	font-style: italic;
}
.annromrubysolo {
	color: #000000;
	font-size: 100%;
	font-style: normal;
}
.anntrans {
	color: #0099CC;
	font-size: 60%;
	font-style: normal;
}
.anntransruby {
	color: #0099CC;
	font-size: 100%;
	font-style: normal;
}
.anntransruby2 {
	color: #006699;
	font-size: 125%;
	font-style: normal;
}
#thumbnail{
	width: inherit;
	height: 30px;
	top: 0;
	border-radius:2px;
	cursor:pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect width='18' height='18' x='3' y='3' rx='2' ry='2'%3E%3C/rect%3E%3Ccircle cx='9' cy='9' r='2'%3E%3C/circle%3E%3Cpath d='m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21'%3E%3C/path%3E%3C/svg%3E");
}
#thumbnail_container{
	margin: 3px;
	overflow: hidden;
	width: 45px;
	height: 30px;
	display:inline-block;
}

.borderl {
	border-left: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
}
.borderr {
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
}
.uwordmarked { 
	font-weight: bold;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	border-right: 3px solid red;
	border-left: 3px solid red;
}
.kwordmarked { 
	font-weight: bold;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}
#termtags {
	max-width: 340px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	border-radius:4px;
}
#texttags {
	max-width: 340px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	border-radius:4px;
}
.editable_textarea {
	display: inline;
}
.nowrap {
	white-space: nowrap;
	margin-left: 20pt;
}

.borderleft {
	border-left: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	background-color: #EEEEEE;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.bordermiddle {
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	background-color: #EEEEEE;
}
.borderright {
	border-right: 1px solid #A0A0A0;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	background-color: #EEEEEE;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.wizard {
	margin: 20px 0 5px 0;
} 

table {
	border-radius: 8px;overflow:hidden;
}

tr:last-child>:first-child {
	border-bottom-left-radius: 8px;
}

tr:last-child>:last-child {
	border-bottom-right-radius: 8px;
}

tr:first-child>th:first-child {
	border-top-left-radius: 8px;
}

tr:first-child>th:last-child,table>tr:first-child>td:last-child,table>tbody:first-child>tr:first-child>td:last-child {
	border-top-right-radius: 8px;
}

tr:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

tr:last-child {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

th.sorttable,th.sorttable_nosort,th.sorttable_numeric,th.clickable {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}


/**
* Dropdown to navigate between pages.
*/
#quickmenu 
{
  float: right;
}

/**
* Formats a header with flexbox.
*/
.flex-header 
{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

/**
* Space evenly article content.
*/
.flex-spaced
{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

/**
* Main page (index.php) navigation menu style
*/
.menu {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/**
* Main page (index.php) navigation menu style elements
*/
.menu > * {
  width: 400px;
  height: 30px;
  margin: 5px;
  text-align: center;
  background-color: #8883;
  padding-top: 15px;
}
/**************************************************************
Additional styles for printing
***************************************************************/

@media print
{
	.noprint {
		display: none;
	}
	#print {
		font-size: 75%;
	}
}
