/**
 * Underline Dark theme - variable overrides + structural rules only.
 * Combines dark colors with Underline-specific highlighting approach.
 */

:root {
  /* Underline Dark specific status colors */
  --lwt-status0: #7D8FEA;
  --lwt-status1: #C51525;
  --lwt-status2: #ED9D7B;
  --lwt-status3: #F7CF66;
  --lwt-status4: #F5F388;
  --lwt-status5: #77E077;
  --lwt-status99: transparent;
  --lwt-status98: transparent;
}

/* Structural: border-radius + text-decoration on status spans */
span.status0, span.status1, span.status2, span.status3,
span.status4, span.status5, span.status99, span.status98 {
  border-radius: 3px;
  text-decoration: none;
}

/* Underline Dark: per-status hword background colors */
.hword.status0 { background-color: #AAE; }
.hword.status1 { background-color: #E44; }
.hword.status2 { background-color: #FB9; }
.hword.status3 { background-color: #FE9; }
.hword.status4 { background-color: #FFFD77; }
.hword.status5 { background-color: #9F9; }
.hword.status99, .hword.status98 { background-color: #777; }

/* Visible borders for status98/99 on hover or in tables */
.hword.status99, td > .status99 {
  border-bottom: 2px solid #444;
}

.hword.status98, td > .status98 {
  border-bottom: dashed 2px #444;
}

/* hword text color */
.hword {
  color: rgba(0,0,0,.4) !important;
}

/* Words and multi-words structural */
.wsty, .mwsty {
  color: #FFF;
  border-radius: 3px;
}

.wsty {
  margin: 0px;
  box-shadow: 0 0 0px 1px #000;
}

.mwsty {
  margin: 0px 1px;
  white-space: nowrap;
}

.wsty:after, .wsty:before {
  opacity: .5;
}

.wsty.hword:after, .wsty.hword:before {
  opacity: 1;
}

/* Underline Dark: test results as border-bottom */
span.todosty {
  border-bottom: 2px solid #fbdb89;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 3px;
  background-color: transparent;
}

span.doneoksty {
  border-bottom: 2px solid #64e56a;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 3px;
  background-color: transparent;
}

span.donewrongsty {
  border-bottom: 2px solid #F5B8A9;
  text-decoration: none;
  padding: 1px 2px;
  border-radius: 3px;
  background-color: transparent;
}

span.status5stat {
  border-bottom: 2px solid #44DD55;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  background-color: transparent;
}

/* Underline Dark: tword/nword */
.tword.lword, .nword.lword {
  color: rgba(0,0,0,.4) !important;
  background-color: #B8A;
  box-shadow: 1px 0 0 0 #B8A, -2px 0 0 0 #B8A;
}

.nword.lword {
  border-bottom: 2px solid #A69 !important;
  box-shadow: 1px 0 0 0 #B8A, -1px 0 0 0 #B8A;
}

.tword {
  border-radius: 3px;
  box-shadow: 0 0 0px 1px #000;
  border-bottom: 2px solid #A69;
  text-decoration: none;
  color: #FFF !important;
  background-color: #000;
}

.nword {
  color: #FFF !important;
  background-color: #000;
  border-bottom: 2px solid #000 !important;
}

/* Dark controls: custom checkbox/radio sprites */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + .wrap_checkbox {
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

input[type="checkbox"] + .wrap_checkbox > span {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(check_radio_sheet2.png) 1px top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label.wrap_checkbox > span {
  background: url(check_radio_sheet2.png) -16px top no-repeat;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + .wrap_radio {
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="radio"] + .wrap_radio > span {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: -5px 4px 0 0;
  vertical-align: middle;
  background: url(check_radio_sheet2.png) -34px 1px no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked + .wrap_radio > span {
  background: url(check_radio_sheet2.png) -51px 1px no-repeat;
}

/* Dark gradient controls */
select {
  background: linear-gradient(to top, rgb(34,34,34) 0%, rgb(58,59,60) 100%) !important;
  background-color: rgb(34,34,34) !important;
  color: #F3F3F3 !important;
  border: none !important;
  box-shadow: 0 1px 1px #000;
  background-image: none !important;
}

button, input[type=button], input[type=submit] {
  background: linear-gradient(to top, rgb(34,34,34) 0%, rgb(58,59,60) 100%);
  color: #F3F3F3;
  background-color: rgb(34,34,34);
  border: none;
  box-shadow: 0 1px 1px #000;
}

button:not(:disabled):active,
input[type=button]:not(:disabled):active,
input[type=submit]:not(:disabled):active {
  box-shadow: inset 0 1px 1px #666 !important;
  position: relative;
  top: 1px;
  color: #AAA;
  background: linear-gradient(to bottom, rgb(34,34,34) 0%, rgb(58,59,60) 100%);
}

/* Dark focus override */
:focus {
  outline: none;
  box-shadow: 0 0 6px 1px rgba(127,127,127,.5) !important;
}

.wrap_radio > span:focus {
  outline: none;
  box-shadow: 0 -2px 6px 0 rgba(222,222,222,.7), 0 2px 6px 0 rgba(222,222,222,.7), inset 0 0 6px 0 rgba(222,222,222,.4) !important;
}

button::-moz-focus-inner { border: 0; }
input::-moz-focus-inner { border: 0; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #F3F3F3;
}

/* Custom select wrapper (dark) */
.wrap_select {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  margin: 2px;
}

.wrap_select select {
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  margin: 0;
  padding-right: 1.2em;
}

.wrap_select:before, .wrap_select:after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.wrap_select:before {
  bottom: 0;
  right: -0.1em;
  background: linear-gradient(to top, rgb(34,34,34) 0%, rgb(58,59,60) 100%);
  background-color: rgb(34,34,34);
  border-radius: 0px 4px 4px 0px;
  top: 0;
  width: 1.2em;
}

.wrap_select:after {
  color: #F3F3F3;
  background-color: transparent;
  content: "\25BE";
  font-size: 0.625em;
  height: 1em;
  line-height: 1;
  margin-top: -0.5em;
  right: 0.55em;
  top: 50%;
}

/* Dark link color */
a:link, a:visited, a:active, a:focus, a:hover {
  color: #E00000;
}

a {
  border-radius: 3px;
}

/* Dark marked words */
.uwordmarked {
  font-weight: bold;
  box-shadow: 0px 0px 8px 2px #d20 !important;
}

.kwordmarked {
  font-weight: bold;
  box-shadow: 0px 0px 8px 2px #fff !important;
}

/* Dark table border-radius */
table {
  border-radius: 8px;
}

tr:last-child > :first-child { border-bottom-left-radius: 8px; }
tr:last-child > :last-child { border-bottom-right-radius: 8px; }
tr:first-child > th:first-child { border-top-left-radius: 8px; }
tr:first-child > th:last-child,
table > tr:first-child > td:last-child,
table > tbody:first-child > tr:first-child > td:last-child { border-top-right-radius: 8px; }
tr:first-child { border-top-left-radius: 8px; border-top-right-radius: 8px; }
tr:last-child { border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }

th.sorttable, th.sorttable_nosort, th.sorttable_numeric, th.clickable {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* Dark border sections */
.borderleft { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.borderright { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

/* Dark disabled */
input[disabled], select[disabled], textarea[disabled] {
  color: #777777;
}

.bgdis {
  background-color: #2B2B30 !important;
  border-radius: 3px !important;
  padding: 1px 2px;
}

input[type=file] { display: none; }
.fakefile { margin-left: .2em; font-size: 80%; }
.button-file { display: inline !important; }

/* Google Translate widget dark */
.goog-te-gadget-simple, .goog-te-gadget-simple .goog-te-menu-value {
  background: linear-gradient(to top, rgb(34,34,34) 0%, rgb(58,59,60) 100%) !important;
  background-color: rgb(34,34,34) !important;
  color: #F3F3F3 !important;
  border: none !important;
}

.goog-te-gadget-simple {
  box-shadow: 0 1px 1px #000;
  margin: 2px;
  border-radius: 4px;
}

/* Dark feed wizard overrides */
#lwt_header {
  color: #FFFFFF;
  background: #000000;
}

#settings, #adv {
  background: #111111;
}

/* Dark print overrides */
@media print {
  .noprint { display: none; }
  #print { color: #000; font-size: 75%; }
  .anntermruby { font-weight: normal; border-bottom: 2px solid #FFFFFF; }
}
