services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DB_HOSTNAME=db
        - DB_USER=root
        - DB_PASSWORD=root
        - DB_DATABASE=learning-with-texts
        - APP_BASE_PATH=/lwt
    container_name: lwt
    depends_on:
      - db
    links:
      - db
    volumes:
      - ./media:/var/www/html/lwt/media
    ports:
      - "8010:80"
    restart: unless-stopped
  db:
    container_name: lwt_db
    environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: "no"
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    hostname: ${DB_HOSTNAME}
    image: mariadb:12.1
    restart: unless-stopped
    volumes:
        - ./lwt_db_data:/var/lib/mysql
  