/**
 * Flex Wrap theme - structural overrides only.
 * All colors match base light defaults; only layout differs.
 */

/* Words structural: box-shadow approach */
.wsty {
  margin: 0px;
  box-shadow: 0 0 0px 1px #FFF;
}

.wsty, .mwsty {
  border-radius: 3px;
}

.mwsty {
  margin: 0px 1px;
  white-space: nowrap;
}

.wsty:after, .wsty:before {
  opacity: .6;
}

/* Status spans structural */
span.status0, span.status1, span.status2, span.status3,
span.status4, span.status5, span.status99, span.status98 {
  border-radius: 3px;
}

/* Test results structural */
span.todosty, span.doneoksty, span.donewrongsty {
  padding: 1px 2px;
  border-radius: 3px;
}

span.status5stat {
  border-radius: 3px;
}

/* Flex Wrap specific: tword/nword styling */
.tword.lword, .nword.lword {
  background-color: #D57;
  box-shadow: 2px 0 0 0 #D57, -1px 0 0 0 #D57;
}

.tword {
  border-radius: 3px;
  box-shadow: 0 0 0px 1px #FFF;
  background-color: #C9B;
}

.nword {
  background-color: #FFF;
}

/* Hidden checkbox/radio wrappers (use native) */
.wrap_checkbox, .wrap_radio {
  display: none;
}

.bgdis {
  background-color: #EAEAE5 !important;
  border-radius: 3px !important;
  padding: 1px 2px;
}

/* Table border-radius */
table {
  border-radius: 8px;
}

tr:last-child > :first-child { border-bottom-left-radius: 8px; }
tr:last-child > :last-child { border-bottom-right-radius: 8px; }
tr:first-child > th:first-child { border-top-left-radius: 8px; }
tr:first-child > th:last-child,
table > tr:first-child > td:last-child,
table > tbody:first-child > tr:first-child > td:last-child { border-top-right-radius: 8px; }
tr:first-child { border-top-left-radius: 8px; border-top-right-radius: 8px; }
tr:last-child { border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; }

th.sorttable, th.sorttable_nosort, th.sorttable_numeric, th.clickable {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* Border sections */
.borderleft { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.borderright { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

/* Link color */
a:link, a:visited, a:active, a:focus, a:hover {
  color: #C00000;
}

@media print {
  .noprint { display: none; }
  #print { font-size: 75%; }
}
