/**
 * \file
 * \brief Main stylesheet for the default theme.
 */

body
{
  background-color: #FFFFFF;
  color: #000000;
  font: 100%/1.25 "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
  margin: 20px;
  padding: 0px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* Full-width body for test and read pages */
body.full-width
{
  max-width: 100%;
}

input[type=text]
{
  font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
  border: 1px solid #C6C6C6;
  padding: 3px;
}

input[type=radio]
{
  display: inline;
}

p
{
  margin: 5px 0 5px 0;
  padding: 0;
}

h3
{
  margin: 0px 0 0px 0;
  padding: 0;
}

h4
{
  margin: 5px 0 10px 0;
  padding: 0;
}

span.status0
{
  background-color: #ADDFFF;
  color: #000000;
}

span.status1
{
  background-color: #F5B8A9;
  color: #000000;
}

span.status2
{
  background-color: #F5CCA9;
  color: #000000;
}

span.status3
{
  background-color: #F5E1A9;
  color: #000000;
}

span.status4
{
  background-color: #F5F3A9;
  color: #000000;
}

span.status5
{
  background-color: #DDFFDD;
  color: #000000;
}

span.status99
{
  background-color: #F8F8F8;
  border-bottom: solid 2px #CCFFCC;
  color: #000000;
}

span.status98
{
  background-color: #F8F8F8;
  border-bottom: dashed 1px #000000;
  color: #000000;
}

/* Words and multi-words hints */
span.wsty, span.mwsty
{
  margin-right: 2px;
  color: #000000;
}

/* Multi-words hint */
span.mwsty
{
  font-size: 60%;
  font-weight: bold;
  vertical-align: top;
}

/* Multi-word mark */
.mword 
{
  padding-left: 4px;
  padding-right: 4px;
}

span.todosty
{
  background-color: #F5E1A9;
}

span.doneoksty
{
  background-color: #A9F5A9;
}

span.donewrongsty
{
  background-color: #F5B8A9;
}

span.status5stat
{
  background-color: #BBFFBB;
  color: #000000;
}

textarea
{
  font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
  border: 1px solid #C6C6C6;
  padding: 3px;
}

table.tab1
{
  background-color: #f8f8f8;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  width: 95%;
  max-width: 850px;
}

table.tab2
{
  background-color: #f8f8f8;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  width: 100%;
}

table.tab3
{
  background-color: #f8f8f8;
  margin-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  width: auto;
}

td.td1
{
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  vertical-align: top;
}

td.td1bot
{
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  vertical-align: bottom;
}

th.th1
{
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  background-color: #DDDDDD;
  vertical-align: top;
}

th.clickable
{
  cursor: pointer;
}

.click
{
  cursor: pointer;
  color: #C00000;
}

.clickedit
{
  cursor: pointer;
}

.hide
{
  display: none;
}

a
{
  text-decoration: none;
}

a:link
{
  color: #C00000;
}

a:visited
{
  color: #C00000;
}

a:active
{
  color: #C00000;
}

a:focus
{
  color: #C00000;
}

a:hover
{
  color: #C00000;
}

img
{
  border: 0pt none;
}

.red
{
  color: #FF0000;
  font-weight: bold;
  background-color: #FFFFD0;
  text-align: center;
  font-size: 120%;
}

.msgblue
{
  color: #0000FF;
  font-weight: bold;
  background-color: #FFFFE0;
  text-align: center;
  font-size: 120%;
}

.red2
{
  color: #FF0000;
  font-weight: bold;
}

.red3
{
  color: #FF0000;
}

/* Warning message for invalid search */
.warning-message
{
  color: red;
  text-align: center;
}

.scorered
{
  font-weight: bold;
  color: #FF0000;
}

.scoregreen
{
  color: #006400;
}

.left
{
  text-align: left;
}

.right
{
  text-align: right;
}

.center
{
  text-align: center;
}

.bigger
{
  font-size: 130%;
}

.smaller
{
  font-size: 80%;
}

.backgray
{
  background-color: #DDDDDD;
}

.backlightyellow
{
  background-color: #FFFACD;
}

.small
{
  color: black;
  font-size: 60%;
}

.smallgray
{
  color: gray;
  font-size: 60%;
}

.smallgray2
{
  color: gray;
  font-size: 80%;
}

.smallgray3
{
  color: gray;
  font-size: 70%;
  width: 850px;
  margin-bottom: 20px;
}

#learnstatus
{
  color: #000000;
  font-size: 120%;
  font-weight: bold;
}

#iknowall
{
  background-color: #ADDFFF;
  cursor: pointer;
  color: #C00000;
  padding: 5px;
  border: 1px solid #000000;
  text-align: center;
}

img.lwtlogo
{
  margin-right: 15px;
  float: left;
}

img.lwtlogoright
{
  margin-left: 30px;
  float: right;
}

/** 
* Floating menu in docs/info.html 
*/
#floatdiv {
  position: fixed;
  top: 10px;
  right: 10px; 
  padding: 5px;
  z-index: 2;
  font-size: 10pt;
  text-align:center;
  border: 1px gray solid;
}

#floatdiv > * {
  display: block;
  width: 75px;
}

.inline
{
  display: inline;
}

.grayborder
{
  border: 1pt solid #808080;
}


#printoptions
{
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #808080;
  line-height: 1.8;
  margin-top: 20px;
}

.width50px
{
  width: 50px;
}

.width99pc
{
  width: 99%;
}

.width45pc
{
  width: 45%;
}

/** Scale input field with responsive design */
.respinput {
  width: 90%;
  max-width: 500px;
}

.annterm
{
  font-weight: bold;
  border-bottom: 2px solid #CCCCCC;
}

.anntermruby
{
  font-weight: normal;
  border-bottom: 2px solid #FFFFFF;
}

.annrom
{
  color: #999999;
  font-size: 60%;
  font-style: italic;
}

.annromruby
{
  color: #000000;
  font-size: 100%;
  font-style: italic;
}

.annromrubysolo
{
  color: #000000;
  font-size: 100%;
  font-style: normal;
}

.anntrans
{
  color: #0099CC;
  font-size: 60%;
  font-style: normal;
}

.anntransruby
{
  color: #0099CC;
  font-size: 100%;
  font-style: normal;
}

.anntransruby2
{
  color: #006699;
  font-size: 125%;
  font-style: normal;
}

/**
* General footer style.
*/
footer 
{
  position: fixed;
  width: 100%;
  left: 0; 
  bottom: 0;
  background-color: white;
  text-align: center;
  height: 45px;
  line-height: 30px;
  border-top: 1px solid #000000;
}

/** 
* Separate a footer section from the document 
*/
.graydotted
{
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px dotted #808080;
}

/**
* Footer for tests.
*/
#footer
{
  background: #DDDDDD;
}

.borderl
{
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.borderr
{
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}

.uwordmarked
{
  font-weight: bold;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  border-right: 3px solid red;
  border-left: 3px solid red;
}

.kwordmarked
{
  font-weight: bold;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#termtags
{
  max-width: 340px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
}

#texttags
{
  max-width: 340px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
}

.editable_textarea
{
  display: inline;
}

.nowrap
{
  white-space: nowrap;
  margin-left: 20pt;
}

.borderleft
{
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #EEEEEE;
}

.bordermiddle
{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #EEEEEE;
}

.borderright
{
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #EEEEEE;
}

.wizard
{
  margin: 20px 0 5px 0;
} 

/** 
* Make any block resizable 
*/
.resizable
{
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

/**
* Dropdown to navigate between pages.
*/
#quickmenu 
{
  float: right;
}

/**
* Formats a header with flexbox.
*/
.flex-header 
{
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

/**
* Space evenly article content.
*/
.flex-spaced
{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

/**
* Main page (index.php) navigation menu style
*/
.menu {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/**
* Main page (index.php) navigation menu style elements
*/
.menu > * {
  width: 400px;
  height: 30px;
  margin: 5px;
  text-align: center;
  background-color: #8883;
  padding-top: 15px;
}

/**************************************************************
Inline Edit Component
***************************************************************/

.inline-edit-wrapper
{
  display: inline-block;
}

.inline-edit-textarea
{
  font: 85% "Lucida Grande",Arial,sans-serif,STHeiti,"Arial Unicode MS",MingLiu;
  border: 1px solid #C6C6C6;
  padding: 3px;
  resize: vertical;
}

.inline-edit-buttons
{
  margin-top: 4px;
  display: flex;
  gap: 4px;
}

.inline-edit-buttons button
{
  font-size: 85%;
  padding: 2px 8px;
  cursor: pointer;
}

.inline-edit-buttons img
{
  vertical-align: middle;
}

.inline-edit-active
{
  background: transparent !important;
}

/**************************************************************
Feed Wizard UI (RSS feed import interface)
***************************************************************/

#lwt_header
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fcfcfc;
  overflow: auto;
  text-align: center;
  padding: 10px;
}

#lwt_header img[title=Settings],
#lwt_header li
{
  cursor: pointer;
}

#lwt_container
{
  max-height: 150px;
  overflow: auto;
}

#settings
{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 180px;
  background: #fcfcfc;
  overflow: auto;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

#settings .settings-content
{
  margin-left: 150px;
  text-align: left;
}

#settings .settings-ok
{
  position: relative;
  left: 150px;
}

#adv
{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 180px;
  background: #fcfcfc;
  overflow: auto;
  text-align: center;
  padding: 10px;
  z-index: 200;
}

/* Feed wizard step 3 config (hidden data element) */
#wizard-step3-config
{
  display: none;
}

/* Feed wizard selection list and table */
#lwt_sel,
#lwt_container .tab2
{
  margin-left: 77px;
}

/* Feed wizard controls table */
.wizard-controls
{
  width: 100%;
}

.wizard-controls .feed-selector
{
  width: 250px;
  max-width: 200px;
}

.wizard-controls .actions-cell
{
  width: 270px;
  text-align: right;
}

.wizard-controls .spacer-cell
{
  width: 63px;
}

/* Feed wizard min/max button */
.wizard-minmax
{
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Feed wizard step 4 config (hidden data element) */
#wizard-step4-config
{
  display: none;
}

/* Feed form input fields */
.feed-form-input
{
  width: 95%;
}

/* Feed form options table */
.feed-options-table
{
  width: 100%;
}

.feed-options-table .option-label
{
  width: 35%;
}

/* Feed browse page styles */
.feeds-filter-cell
{
  width: 30%;
}

.feeds-filter-cell-wide
{
  width: 70%;
}

.feeds-date-col
{
  min-width: 90px;
}

.valign-middle
{
  vertical-align: middle;
}

/* Small icon sizing */
.icon-small
{
  height: 20px;
}

/* Feed wizard text selection styles */
.lwt_selected_text
{
  background-color: #FFFFFF;
  color: #FFAAAA !important;
}

.lwt_marked_text
{
  background-color: rgb(111, 111, 111) !important;
  color: rgb(170, 170, 170) !important;
}

.lwt_highlighted_text
{
  border-style: dashed !important;
}

.delete_selection
{
  cursor: crosshair;
}

#lwt_last ~ *
{
  color: #000000;
  position: static !important;
  cursor: pointer;
  background-color: grey;
}

#lwt_last ~ * *
{
  color: #000000;
  position: static !important;
  cursor: pointer;
}

.lwt_filtered_text
{
  background-color: #FFFFFF !important;
  color: #DDDDDD !important;
  cursor: default !important;
}

/**************************************************************
Bulk Translate Form
***************************************************************/

.dict
{
  cursor: pointer;
}

.dict1:hover,
.dict2:hover,
.dict3:hover
{
  opacity: 1;
  color: red;
}

input[name="WoTranslation"]
{
  border: 1px solid red;
}

.del_trans
{
  cursor: pointer;
  float: right;
}

.del_trans:after
{
  content: url(/assets/icons/broom.png);
  opacity: 0.2;
}

.del_trans:hover:after
{
  opacity: 1;
}

/**************************************************************
Test page styles
***************************************************************/

/* Test container wrapper */
.test-container
{
  width: 95%;
  height: 100%;
}

/* Test left frames column (dynamic width set via JS) */
#frames-l
{
  /* Width set dynamically based on user setting */
}

/* Test right frames panel - desktop */
.test-frames-right
{
  position: fixed;
  top: 2%;
  right: 0;
  height: 90%;
}

/* Test right frames panel - mobile (hidden off-screen) */
.test-frames-right-mobile
{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
}

/* Mobile frames inner container */
.test-frames-mobile-inner
{
  margin-left: 50%;
  height: 99%;
}

/* Test iframes half height */
.test-iframe
{
  height: 50%;
  width: 100%;
}

/* Table test auto width */
.table-test
{
  width: auto;
}

/* Test header word count */
.test-word-count
{
  margin: 5px;
}

/* Test footer stats spans */
.test-footer-stat
{
  margin-left: 15px;
  margin-right: 15px;
}

/* Table test sentence cell color */
.test-sentence-cell
{
  color: #000;
}

/**************************************************************
Home page styles
***************************************************************/

/* Last text info box */
.home-last-text
{
  height: 85px;
}

/* Home menu container */
.home-menu-container
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* WordPress logout text */
.logout-text
{
  font-size: 115%;
  font-weight: bold;
  color: red;
}

/* Footer license image inline */
.footer-license-icon
{
  display: inline;
}

/* Footer license link */
.footer-license-link
{
  vertical-align: top;
}

/**************************************************************
Word Show View Styles
***************************************************************/

/* Term label column width */
.word-show-label
{
  width: 30px;
}

/* Word show value cells with larger text */
.word-show-value
{
  font-size: 120%;
}

/* Term cell top-right corner radius inheritance */
.word-show-term
{
  font-size: 120%;
  border-top-right-radius: inherit;
}

/* Annotation highlight color */
.word-show-highlight
{
  color: red;
}

/**************************************************************
Language View Styles
***************************************************************/

/* Voice API help code block */
.voice-api-code
{
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Wizard zone border */
.wizard-zone-border
{
  border: 1px solid black;
}

/* Wizard button margin */
.wizard-btn
{
  margin: 5px;
}

/* Wizard popup button larger text */
.wizard-popup-btn
{
  font-size: 1.1em;
}

/* Current language row highlight */
.language-current-row
{
  background-color: #8884;
  font-weight: bold;
}

/* Last column in language table (remove top-right radius) */
.language-last-col
{
  border-top-right-radius: 0;
}

/**************************************************************
Language Form View Styles
***************************************************************/

/* Hidden option for future use */
.language-option-hidden
{
  display: none;
}

/* Hidden form wrapper sections */
.language-form-hidden
{
  display: none;
}

/* Transparent horizontal rule separator */
.language-form-separator
{
  color: transparent;
}

/**************************************************************
Text Statistics Styles
***************************************************************/

/* Word count badge with padding */
.word-count-badge
{
  padding: 0 5px;
  margin: 0 5px;
}

/* Clickable icon for bulk translate */
.bulk-translate-icon
{
  cursor: pointer;
  vertical-align: middle;
}

/**************************************************************
Dictionary and Sentence Lookup Styles
***************************************************************/

/* Hidden element for auto-initialization */
.dict-auto-init
{
  display: none;
}

/* Example sentences loading indicator */
#exsent-waiting
{
  display: none;
}

/* Example sentences container (initially hidden) */
#exsent-sentences
{
  display: none;
}

/**************************************************************
Additional styles for printing
***************************************************************/

@media print
{
  .noprint
  {
    display: none;
  }

  #print
  {
    font-size: 75%;
  }
}
